.success-alert>*{
    color: black;
}
.success-alert{
position: fixed;
top: 12vh;
left: 0;
color: rgb(255, 255, 255);
width: 100vw;
background-color: rgba(75, 207, 119, 0.607);
height: 3rem;
text-align: center;
padding: 0.6rem;
font-weight: bolder;
border-radius: 0.5rem;
z-index: 2;
}
.failure-alert{
    position: fixed;
    top: 12vh;
    left: 0;
    color: rgb(255, 255, 255);
    width: 100vw;
    background-color: rgba(197, 42, 42, 0.626);
    height: 3rem;
    text-align: center;
    padding: 0.6rem;
    font-weight: bolder;
    border-radius: 0.5rem;
    z-index: 2;
}
